<%- include('../partials/header') %>

<% post.comments.forEach(function(comment) { %>
    <% if (user && comment.user.equals(user._id)) { %>
    <div class="comment">
      <div id="comment"><%= comment.content %></div>
        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Comment</button>
        </form>
      <% } %>
    </div>
  <% }) %>
<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <input name="content" value="<%= comment.content %>">
    <button type="submit">Update Comment</button>
</form>

<%- include('../partials/footer') %>