<%- include('../partials/header') %>

<section id="show-page">

    <div><%= post.userName %></div>
    <div>Posted: </div>
    <div><%= post.createdAt.toLocaleDateString() %></div>
    <div><%= post.content %></div>

</section>
<%- include('../partials/footer') %>