<%- include('../partials/header') %>

<section id="show-page">
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Post</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td class="post-user"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></td>
          <td><%= post.createdAt.toLocaleDateString() %></td>
          <% if (post.image) { %>
            <td id="post-img"><img src="<%= post.image %>" alt=""/></td>
            <% } %>
            <td id="pcontent"><%= post.content %></td>
          <td>
            <% if (user?._id.equals(post.user)) { %>
              <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
              </form>
              <% } %>
          </td>
        </tr>
      </tbody>
  </table><br>
    <% if (user?._id.equals(post.user)) { %>
      <form id="update-post-form" method="POST"
      action="/posts/<%= post._id %>?_method=PUT">
      <label>Image url:</label>
      <input type="text" name="image" /><br>
      <label>Update Post:</label>
      <textarea name="content"><%= post.content %></textarea>
      <input type="submit" value="Update">
    </form>
    <% } %>
</section> 
<thead>
    <h2>Comments</h2>
  </thead>
  <tbody>
    <% post.comments.forEach(function(c) { %>
        <div id="comment"><%= c.content %></div>
        <div class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></div>
        <td><%= c.createdAt.toLocaleDateString() %></td>
        <td>
          <% if (user?._id.equals(c.user)) { %>
            <a href="/comments/<%= c._id %>/edit">Edit Comment</a>
          <% } %>
        </td>
    <% }); %>
    <% if (user) { %>
      <h2>New Comment</h2>
      <form id="add-comment-form" action="/posts/<%= post._id %>/comments" method="POST">
        <input name="content">
        <button type="submit">ADD COMMENT</button>
      </form>
    <% } %>
  </tbody>
<%- include('../partials/footer') %>